<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

  </head>

  <body>
    <div class="wrapper">
      <% if current_page? root_path %>
        <header>
          <%= image_tag 'movietheater_banner.jpg', class: 'background', alt: 'movie theater' %>
          <%= image_tag 'charlie.png', class: 'foreground_r', alt: 'charlie chaplin' %>
          <%= image_tag 'camera.png', class: 'foreground_l', alt: 'old movie camera' %>
          <h1 class="title">The Micro Library of Movie Lists</h1>
        </header>
      <% end %>
      <div class="main-page">
        <%= render 'navbar' %>
        <div class="content-wrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
